/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */
body {
  font-family: 'Sarabun', sans-serif;
  font-size: 1em;
  color: #152a3e;
  text-align: left;
}

ul {
  list-style-type: none;
}

a {
  color: #152a3e;
  text-decoration: none;
}

h2 {
  font-family: 'Alata', sans-serif;
  font-size: 1.875em;
}

h3,
h4 {
  font-family: 'Alata', sans-serif;
}

h3 {
  font-size: 1.35em;
}

h4 {
  font-size: 1.3em;
}

p {
  font-size: .875em;
  line-height: 1.285em;
}

img {
  width: 100%;
} 

address {
  font-style: normal;
}

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}


/* -------------------- Base Header - Footer Styles -------------------- */

header, 
footer {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #e4cba3;
}

/* Header styles */

header {
  padding: 15px 0;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

header .name {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header h2 {
  font-size: 1.875em;
  margin: 15px 0px;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  width: 85%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
  padding-left: 0px;
}

header nav ul li {
  font-weight: 700;
  font-size: .875em;
  text-transform: uppercase;
  font-family: 'Alata', sans-serif;
}

.divider {
  width: 100%;
  height: 1px;
  background: #152a3e;
  margin: 0px 0px 10px 0px;
}


/* Footer */

footer h3 {
  padding: 10px 0px;
}

footer .content-wrapper {
  width: 50%;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 0;
}

footer .social {
  padding-top: 10px;
  width: 55%;
}

footer .contact {
  width: 100%;
}

footer h4 {
  margin: 0 0 10px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

footer .contact p {
  text-align: center;
  margin: 0px 0px 30px 0px;
  font-size: 1em;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons a {
  font-size: 1.5em;
}

footer .copyright {
  margin-top: 30px;
  display: block;
}

footer .copyright p {
  font-size: .775em;
  text-align: center;
  margin: 10px 0px 30px 0px;
}


/* -------------------- Mobile Styles - Homepage -------------------- */

main {
  display: flex; 
  justify-content: center;
  flex-flow: wrap;
  margin: 0;
  background: #e4cba3;
}

/* HERO-AREA */

.hero-section {
  background: url('../img/hero-desk.jpg') no-repeat #152a3e;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 100%;
}

.hero-section .content-wrapper {
  display: flex;
  justify-content: center;
}

h1 { 
  margin: 20px 0 0 0;
  color: #152a3e;
  font-size: 1.85em;
  line-height: 1.3em;
  text-align: center;
  font-family: 'Alata', sans-serif;
  width: 65%;
}

h1 span {
  font-size: .63em;
  line-height: .8em;
}

/* WORK */

#work .content-wrapper {
  margin: 0;
}

#work {
  width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}

#work h3 {
  margin: 80px 0px 15px 0px;
  text-transform: uppercase;
  width: 100%;
}

.skills, .projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.skills ul {
  padding: 0;
  width: 100%;
  margin: 16px 0 5px 0;
}

.skills ul .skill {
  background-color: #152a3e;
  line-height: 2.6em;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
  padding: 0px 15px;
  color: #e4cba3;
}

.projects .portfolio-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 20px;
}

.portfolio-piece {
  margin: 5px 0px 50px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.portfolio-piece figure {
  width: 100%;
}

.portfolio-piece figure img {
  border: 2px outset #f5f5dd;
}

.projects h4 {
  font-size: 1.3em;
  margin: 0px 0 5px 0;
}

.projects p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 15px 0px 30px 0px;
}

.projects .toolbox {
  line-height: 2.2em;
}

.projects .project-link{
  background: #ea9ea2;
  border-radius: 30px;
  padding: 10px 10px 13px 10px;
}


/* ABOUT */

#about {
  background: #152a3e;
  color: #e4cba3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  /*width: 90%;*/
}

#about .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#about .about-info {
  width: 95%;
}

#about h2 {
  text-align: center;
  font-size: 1.9em;
  line-height: 1.5em;
  margin: 25px 0px;
}

#about p {
  margin: 0;
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.5em;
}
#about figure {
  margin: 0;
  text-align: center;
}
#about img {
  width: 95%;
}

#about p .passion-statement {
  font-weight: 700;
  font-size: 1.25em;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



@media only screen and (min-width: 768px) {
/* ============ Tablet Styles ============*/
    
/* General styles */
.content-wrapper {
  max-width: 640px;
  margin: 100px 0;
}

h3 {
  font-size: 1.55em;
}

h4 {
  font-size: 1.75em;
}

/* HEADER */

header {
  justify-content: space-around;
  padding: 45px 0px;
}

header .content-wrapper {
  max-width: 80%;
  justify-content: space-between;
}

header .name {
  width: 40%;
  justify-content: flex-start;
}

header h2 {
  font-size: 2em;
}

header .divider {
  display: none;
}

header nav {
  width: 46%;
  margin: 10px 0 0 0;
}

header nav ul {
  justify-content: space-between;
}

header nav ul li {
  font-weight: 600;
  font-size: 1.2em;
  text-transform: uppercase;
}

/* HERO */

.hero-section  {
  justify-content: center;
  align-items: flex-start;
}

.hero-section .content-wrapper {
  justify-content: center;
  align-items: flex-start;
  margin: 55px 0px 0px 0px;
  max-width: 100%;
}

h1 {
  font-size: 2.25em;
  line-height: 1.3em;
  max-width: 45%;
}

h1 span {
  font-size: .6em;
  line-height: .7em;
}

/* WORK */

#work {
  width: 100%;
}

#work .content-wrapper {
  margin: 15px 0px;
  max-width: 100%;
}

.divider {
  width: 97%;
}

.skills ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}

.skills ul .skill {
  line-height: 2.5em;
  margin: 8px 0;
  font-size: 1.1em;
  padding: 0px 10px;
  width: 25%;
}

#responsive, 
#visual-studio {
  width: 41%;
}

.portfolio-piece {
  width: 45%;
  align-items: center;
}

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.projects .portfolio-wrapper {
  justify-content: space-around;
  align-items: flex-start;
}

.projects .project-link{
  font-size: 1.1em;
}


/* ABOUT */

#about {
  width: 100%;
}

#about .content-wrapper {
  max-width: 100%;
}

#about img {
  width: 45%;
}

#about h2 {
  font-size: 2.25em;
}

#about p {
  font-size: 1.35em;
}

/* Footer */

footer .content-wrapper {
 width: 100%;
 margin: 40px 0;
 align-items: flex-start;
 flex-flow: row wrap;
}

footer .contact, 
footer .social {
  width: 45%;
}

footer .social {
  display: flex; 
  justify-content: center; 
  flex-flow: row wrap;
  padding-top: 0px;
}

footer h3 {
  font-size: 2.125em;
  width: 75%;
  text-align: center;
}

footer .contact p {
  font-size: 1.5em;
  margin-top: 24px;
}

footer .social-icons {
  width: 11em;
}

footer .social-icons a {
  font-size: 2.5em;
}

footer .copyright {
  margin-top: 50px;
  width: 90%;
}

footer .copyright p {
  font-size: 1em;
}

}

@media only screen and (min-width: 1200px) {
/* ==================== Desktop Styles =================*/
  
/* General styles */
.content-wrapper {
  max-width: 960px;
}

/* Header */

header .content-wrapper {
  max-width: 80%;
}

header h2 {
  font-size: 2.775em;
}

header nav {
  width: 45%;
  margin-top: 15px;
}

header nav ul {
  justify-content: space-between;
}

header nav ul li {
  font-weight: 700;
  font-size: 1.3em;
  text-transform: uppercase;
  padding: 15px 15px;
}

header nav ul li:hover {
  background-color: #f8cacd;
  border-radius: 10px;
}

/* Hero Area */

.hero-section {
  min-height: 550px;
}

h1 {
  font-size: 2.7em;
  line-height: 1.5em;
  max-width: 40%;
}

h1 span {
  font-size: .7em;
  line-height: .9em;
}

/* WORK */

.skills ul .skill {
  line-height: 2.7em;
  font-size: 1.2em;
}

#responsive, 
#visual-studio {
  width: 28%;
}

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.projects .portfolio-wrapper {
  justify-content: space-around;
  align-items: flex-start;
}

.portfolio-piece {
  width: 30%;
}

.projects p {
  font-size: 1.2em;
}
.projects .project-link{
  font-size: 1.2em;
  font-weight: 500;
}

.projects .project-link:hover {
  background: #f8cacd;
}

/* ABOUT ME */

#about .content-wrapper {
  justify-content: space-around;
  max-width: 85%;
}

#about figure {
  width: 42%;
  display: flex; 
  align-items: center;
}

#about img {
  width: 100%;
}

#about .about-info {
  width: 53%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#about h2 {
  font-size: 2.2em;
  margin: 0;
}

#about p {
  font-size: 1.3em;
  line-height: 1.5em;
}


/* Footer */

footer .content-wrapper {
  margin: 40px 0 0 0;
  max-width: 100%;
}

footer h3 {
font-size: 2.2em;
}

footer h4 {
  font-size: 1.8em;
  width: 100%;
}

footer .social-icons {
  width: 20em;
  justify-content: center;
}

footer .social-icons a {
  font-size: 2.5em;
  padding: 0px 25px;
}

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
